<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>uk</string>
	</array>
	<key>KPIHubIOS_APP_NAME</key>
	<string>$(KPIHubIOS_APP_NAME)</string>
	<key>KPIHubIOS_ENVIRONMENT</key>
	<string>$(KPIHubIOS_ENVIRONMENT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
